<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= student.surname %>
  </p>

  <p>
    <strong>School:</strong>
    <%= student.school_id %>
  </p>

  <p>
    <strong>Klass:</strong>
    <%= student.klass_id %>
  </p> 
</div>
