<div id="<%= dom_id klass %>">
  <p>
    <strong>Number:</strong>
    <%= klass.number %>
  </p>

  <p>
    <strong>Letter:</strong>
    <%= klass.letter %>
  </p>

  <p>
    <strong>School:</strong>
    <%= klass.school_id %>
  </p>

  <p>
    <strong>Students count:</strong>
    <%= klass.students_count %>
  </p>

</div>
